<footer>
    <div class="container">
        <div class="flex-lc justify-content-between">
            <a href="" title="" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
            <div class="social flex">
                <a href="" title="telegram" class="telegram">telegram</a>
                <a href="" title="telegram" class="discord">Discord</a>
                <a href="" title="twitter" class="twitter">twitter</a>
                <a href="" title="youtube" class="youtube">Youtube</a>
            </div>
            <a href="" title="Whitepaper" class="whitepaper txt-md fw-b">Whitepaper</a>
        </div>
    </div>
</footer>