<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggle" type="button"><span class="navbar-toggler-icon"></span></button>
            <a href="/hashmind/build/home" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
            <div class="navbar-collapse">
                <ul class="navbar-nav mx-auto flex">
                    <li><a href="/hashmind/build/virtual-machine-setup" title="Virtual Machine Setup">Virtual Machine Setup</a></li>
                    <li><a href="/hashmind/build/mining" title="Features">Mining</a></li>
                    <li><a href="/hashmind/build/gpu" title="GPU Renting">GPU Renting</a></li>
                </ul>
                <div class="login">
                    <div class="login__before" style="display: none">
                        <a href="" title="" class="btn-pr txt-md fw-b">Connect Wallet</a>
                    </div>
                    <div class="login__after flex-lc">
                        <div class="notifi pr">
                            <button type="button" class="btn-notifi flex-center"><i class="icon-notifi"></i><span></span></button>
                        </div>
                        <div class="more pr">
                            <button type="button" class="btn-more flex-center"><i class="icon-more"></i></button>
                        </div>
                        <div class="avatar flex-lc">
                            <div class="avatar__img"><img src="./assets/img/avatar.png" alt=""></div>
                            <div class="avatar__info">
                                <div class="txt-md fw-b">0xC3...f57</div>
                                <div class="txt-xs">0xC3...f57</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-show ml-auto mr-4">
                <div class="notifi pr">
                    <button type="button" class="btn-notifi flex-center"><i class="icon-notifi"></i><span></span></button>
                </div>
                <div class="more pr">
                    <button type="button" class="btn-more flex-center"><i class="icon-more"></i></button>
                </div>
            </div>
        </nav>
    </div>
</header>
