<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggle" type="button"><span class="navbar-toggler-icon"></span></button>
            <a href="/hashmind/build/home" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
            <div class="navbar-collapse">
                <ul class="navbar-nav flex">
                    <li><a href="/hashmind/build/home" title="Home">Home</a></li>
                    <li><a href="" title="Features">Features</a></li>
                    <li><a href="" title="Whitepaper">Whitepaper</a></li>
                    <li><a href="" title="Roadmap">Roadmap</a></li>
                    <li><a href="" title="Tokenomics">Tokenomics</a></li>
                </ul>
                <div class="social flex">
                    <a href="" title="telegram" class="telegram">telegram</a>
                    <a href="" title="telegram" class="discord">Discord</a>
                    <a href="" title="twitter" class="twitter">twitter</a>
                    <a href="" title="youtube" class="youtube">Youtube</a>
                </div>
                <a href="" title="" class="btn-pr btn-launch txt-md fw-b">Launch App</a>
            </div>
        </nav>
    </div>
</header>
