<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/aos.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header-1.html" %}
{% block content %}{% endblock %}

<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/aos.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        $('.hashmind-setup .select-list > div').on('click',function (){
            $('.hashmind-setup .select-list > div').removeClass('active');
            $(this).addClass('active');
        });

        $(".toggle-password").click(function () {
            $(this).toggleClass("show");
            var input = $($(this).attr("toggle"));

            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });

        $('.selected').on('click',function () {
            $('.box-select').removeClass('show');
            $(this).parent().toggleClass('show');
        });
        $('.list-select li').on('click',function () {
            $(this).parents('.box-select').find('.list-select li').removeClass('active');
            $(this).addClass('active');
            var txt = $(this).data('name');
            $(this).parents('.box-select').removeClass('show');
            $(this).parents('.box-select').find('.selected .name').html('').append(txt);
        });

        $(document).mouseup(function (e) {
            var container = $(".box-select");
            var dropdown = $(".box-account");
            if (!container.is(e.target) && container.has(e.target).length === 0) {
                $('.box-select').removeClass('show');
            }
            if (!dropdown.is(e.target) && dropdown.has(e.target).length === 0) {
                $('.box-account').removeClass('show');
            }
        });

        $('#modal-rentgpu').modal('show');
    });
</script>
</body>
</html>