<main>
    <div class="container">
        <div class="gpu-renting">
            <div class="flex topbar">
                <div class="item flex-lc flex-1">
                    <form action="" method="" class="flex-1">
                        <div class="box-input bg-gr">
                            <input type="text" class="txt-md" placeholder="Search">
                        </div>
                    </form>
                    <div class="box-select pr">
                        <div class="selected flex-lc pr">
                            <div class="name">Sort by GPU Memory</div>
                        </div>
                        <ul class="list-select">
                            <li data-name="Price" class="active">Price</li>
                            <li data-name="GPU Memory">GPU Memory</li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="box-select pr">
                        <div class="selected flex-lc pr">
                            <div class="name">All GPUs</div>
                        </div>
                        <ul class="list-select">
                            <li data-name="All GPUs" class="active">All GPUs</li>
                            <li data-name="Mining">Mining</li>
                            <li data-name="Rendering">Rendering</li>
                            <li data-name="Machine Learning">Machine Learning</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="gpu-list">
                <div class="item">
                    <div class="available"></div>
                    <div class="box-select pr">
                        <div class="selected flex-lc pr">
                            <div class="name">1x A100 80GB</div>
                        </div>
                        <ul class="list-select">
                            <li data-name="1x A100 80GB" class="active">1x A100 80GB</li>
                            <li data-name="2x A100 80GB">2x A100 80GB</li>
                            <li data-name="3x A100 80GB">3x A100 80GB</li>
                            <li data-name="4x A100 80GB">4x A100 80GB</li>
                            <li data-name="5x A100 80GB">5x A100 80GB</li>
                            <li data-name="6x A100 80GB">6x A100 80GB</li>
                            <li data-name="7x A100 80GB">7x A100 80GB</li>
                            <li data-name="8x A100 80GB">8x A100 80GB</li>
                        </ul>
                    </div>
                    <ul class="gpu-info">
                        <li>
                            <div class="col-left">
                                <p>80 GB VRAM</p>
                                <p>117 GB RAM 8 vCPU</p>
                            </div>
                            <div class="col-right">
                                <span>8 max</span>
                            </div>
                        </li>
                        <li>
                            <div class="col-left">
                                <span>Price per month</span>
                            </div>
                            <div class="col-right">
                                <p>3500 $HASH</p>
                            </div>
                        </li>
                    </ul>
                    <div class="flex-lc justify-content-between">
                        <div class="circle percentage-0">
                            <p><span>0%</span><span>Used</span></p>
                            <div class="percentage-bar"></div>
                        </div>
                        <button type="button" class="btn-order txt-md">Order Now</button>
                    </div>
                </div>
                <div class="item">
                    <div class="available"></div>
                    <div class="box-select pr">
                        <div class="selected flex-lc pr">
                            <div class="name">1x A100 SXM 80GB</div>
                        </div>
                        <ul class="list-select">
                            <li data-name="1x A100 SXM 80GB" class="active">1x A100 SXM 80GB</li>
                            <li data-name="2x A100 SXM 80GB">2x A100 SXM 80GB</li>
                            <li data-name="3x A100 SXM 80GB">3x A100 SXM 80GB</li>
                            <li data-name="4x A100 SXM 80GB">4x A100 SXM 80GB</li>
                            <li data-name="5x A100 SXM 80GB">5x A100 SXM 80GB</li>
                            <li data-name="6x A100 SXM 80GB">6x A100 SXM 80GB</li>
                            <li data-name="7x A100 SXM 80GB">7x A100 SXM 80GB</li>
                            <li data-name="8x A100 SXM 80GB">8x A100 SXM 80GB</li>
                        </ul>
                    </div>
                    <ul class="gpu-info">
                        <li>
                            <div class="col-left">
                                <p>80 GB VRAM</p>
                                <p>125 GB RAM 16 vCPU</p>
                            </div>
                            <div class="col-right">
                                <span>8 max</span>
                            </div>
                        </li>
                        <li>
                            <div class="col-left">
                                <span>Price per month</span>
                            </div>
                            <div class="col-right">
                                <p>4500 $HASH</p>
                            </div>
                        </li>
                    </ul>
                    <div class="flex-lc justify-content-between">
                        <div class="circle percentage-0">
                            <p><span>0%</span><span>Used</span></p>
                            <div class="percentage-bar"></div>
                        </div>
                        <button type="button" class="btn-order txt-md">Order Now</button>
                    </div>
                </div>
                <div class="item">
                    <div class="available"></div>
                    <div class="box-select pr">
                        <div class="selected flex-lc pr">
                            <div class="name">1x A40</div>
                        </div>
                        <ul class="list-select">
                            <li data-name="1x A40" class="active">1x A40</li>
                            <li data-name="2x A40">2x A40</li>
                            <li data-name="3x A40">3x A40</li>
                            <li data-name="4x A40">4x A40</li>
                            <li data-name="5x A40">5x A40</li>
                            <li data-name="6x A40">6x A40</li>
                            <li data-name="7x A40">7x A40</li>
                            <li data-name="8x A40">8x A40</li>
                        </ul>
                    </div>
                    <ul class="gpu-info">
                        <li>
                            <div class="col-left">
                                <p>48 GB VRAM</p>
                                <p>48 GB RAM 9 vCPU</p>
                            </div>
                            <div class="col-right">
                                <span>10 max</span>
                            </div>
                        </li>
                        <li>
                            <div class="col-left">
                                <span>Price per month</span>
                            </div>
                            <div class="col-right">
                                <p>1200 $HASH</p>
                            </div>
                        </li>
                    </ul>
                    <div class="flex-lc justify-content-between">
                        <div class="circle percentage-0">
                            <p><span>0%</span><span>Used</span></p>
                            <div class="percentage-bar"></div>
                        </div>
                        <button type="button" class="btn-order txt-md">Order Now</button>
                    </div>
                </div>
                <div class="item">
                    <div class="available"></div>
                    <div class="box-select pr">
                        <div class="selected flex-lc pr">
                            <div class="name">1x RTX A6000</div>
                        </div>
                        <ul class="list-select">
                            <li data-name="1x RTX A6000" class="active">1x RTX A6000</li>
                            <li data-name="2x RTX A6000">2x RTX A6000</li>
                            <li data-name="3x RTX A6000">3x RTX A6000</li>
                            <li data-name="4x RTX A6000">4x RTX A6000</li>
                            <li data-name="5x RTX A6000">5x RTX A6000</li>
                            <li data-name="6x RTX A6000">6x RTX A6000</li>
                            <li data-name="7x RTX A6000">7x RTX A6000</li>
                            <li data-name="8x RTX A6000">8x RTX A6000</li>
                        </ul>
                    </div>
                    <ul class="gpu-info">
                        <li>
                            <div class="col-left">
                                <p>48 GB VRAM</p>
                                <p>50 GB RAM 8 vCPU</p>
                            </div>
                            <div class="col-right">
                                <span>10 max</span>
                            </div>
                        </li>
                        <li>
                            <div class="col-left">
                                <span>Price per month</span>
                            </div>
                            <div class="col-right">
                                <p>1500 $HASH</p>
                            </div>
                        </li>
                    </ul>
                    <div class="flex-lc justify-content-between">
                        <div class="circle percentage-0">
                            <p><span>0%</span><span>Used</span></p>
                            <div class="percentage-bar"></div>
                        </div>
                        <button type="button" class="btn-order txt-md">Order Now</button>
                    </div>
                </div>
                <div class="item">
                    <div class="available"></div>
                    <div class="box-select pr">
                        <div class="selected flex-lc pr">
                            <div class="name">1x RTX 3090</div>
                        </div>
                        <ul class="list-select">
                            <li data-name="1x RTX 3090" class="active">1x RTX 3090</li>
                            <li data-name="2x RTX 3090">2x RTX 3090</li>
                            <li data-name="3x RTX 3090">3x RTX 3090</li>
                            <li data-name="4x RTX 3090">4x RTX 3090</li>
                            <li data-name="5x RTX 3090">5x RTX 3090</li>
                            <li data-name="6x RTX 3090">6x RTX 3090</li>
                            <li data-name="7x RTX 3090">7x RTX 3090</li>
                            <li data-name="8x RTX 3090">8x RTX 3090</li>
                        </ul>
                    </div>
                    <ul class="gpu-info">
                        <li>
                            <div class="col-left">
                                <p>24 GB VRAM</p>
                                <p>-</p>
                            </div>
                            <div class="col-right">
                                <span>8 max</span>
                            </div>
                        </li>
                        <li>
                            <div class="col-left">
                                <span>Price per month</span>
                            </div>
                            <div class="col-right">
                                <p>900 $HASH</p>
                            </div>
                        </li>
                    </ul>
                    <div class="flex-lc justify-content-between">
                        <div class="circle percentage-0">
                            <p><span>0%</span><span>Used</span></p>
                            <div class="percentage-bar"></div>
                        </div>
                        <button type="button" class="btn-order txt-md">Order Now</button>
                    </div>
                </div>
                <div class="item">
                    <div class="available"></div>
                    <div class="box-select pr">
                        <div class="selected flex-lc pr">
                            <div class="name">1x RTX A5000</div>
                        </div>
                        <ul class="list-select">
                            <li data-name="1x RTX A5000" class="active">1x RTX A5000</li>
                            <li data-name="2x RTX A5000">2x RTX A5000</li>
                            <li data-name="3x RTX A5000">3x RTX A5000</li>
                            <li data-name="4x RTX A5000">4x RTX A5000</li>
                            <li data-name="5x RTX A5000">5x RTX A5000</li>
                            <li data-name="6x RTX A5000">6x RTX A5000</li>
                            <li data-name="7x RTX A5000">7x RTX A5000</li>
                            <li data-name="8x RTX A5000">8x RTX A5000</li>
                        </ul>
                    </div>
                    <ul class="gpu-info">
                        <li>
                            <div class="col-left">
                                <p>24 GB VRAM</p>
                                <p>29 GB RAM 7 vCPU</p>
                            </div>
                            <div class="col-right">
                                <span>10 max</span>
                            </div>
                        </li>
                        <li>
                            <div class="col-left">
                                <span>Price per month</span>
                            </div>
                            <div class="col-right">
                                <p>900 $HASH</p>
                            </div>
                        </li>
                    </ul>
                    <div class="flex-lc justify-content-between">
                        <div class="circle percentage-0">
                            <p><span>0%</span><span>Used</span></p>
                            <div class="percentage-bar"></div>
                        </div>
                        <button type="button" class="btn-order txt-md">Order Now</button>
                    </div>
                </div>
                <div class="item">
                    <div class="available"></div>
                    <div class="box-select pr">
                        <div class="selected flex-lc pr">
                            <div class="name">1x RTX A4500</div>
                        </div>
                        <ul class="list-select">
                            <li data-name="1x RTX A4500" class="active">1x RTX A4500</li>
                            <li data-name="2x RTX A4500">2x RTX A4500</li>
                            <li data-name="3x RTX A4500">3x RTX A4500</li>
                            <li data-name="4x RTX A4500">4x RTX A4500</li>
                            <li data-name="5x RTX A4500">5x RTX A4500</li>
                            <li data-name="6x RTX A4500">6x RTX A4500</li>
                            <li data-name="7x RTX A4500">7x RTX A4500</li>
                            <li data-name="8x RTX A4500">8x RTX A4500</li>
                        </ul>
                    </div>
                    <ul class="gpu-info">
                        <li>
                            <div class="col-left">
                                <p>20 GB VRAM</p>
                                <p>31 GB RAM 12 vCPU</p>
                            </div>
                            <div class="col-right">
                                <span>4 max</span>
                            </div>
                        </li>
                        <li>
                            <div class="col-left">
                                <span>Price per month</span>
                            </div>
                            <div class="col-right">
                                <p>750 $HASH</p>
                            </div>
                        </li>
                    </ul>
                    <div class="flex-lc justify-content-between">
                        <div class="circle percentage-0">
                            <p><span>0%</span><span>Used</span></p>
                            <div class="percentage-bar"></div>
                        </div>
                        <button type="button" class="btn-order txt-md">Order Now</button>
                    </div>
                </div>
                <div class="item">
                    <div class="available"></div>
                    <div class="box-select pr">
                        <div class="selected flex-lc pr">
                            <div class="name">1x RTX A4000</div>
                        </div>
                        <ul class="list-select">
                            <li data-name="1x RTX A4000" class="active">1x RTX A4000</li>
                            <li data-name="2x RTX A4000">2x RTX A4000</li>
                            <li data-name="3x RTX A4000">3x RTX A4000</li>
                            <li data-name="4x RTX A4000">4x RTX A4000</li>
                            <li data-name="5x RTX A4000">5x RTX A4000</li>
                            <li data-name="6x RTX A4000">6x RTX A4000</li>
                            <li data-name="7x RTX A4000">7x RTX A4000</li>
                            <li data-name="8x RTX A4000">8x RTX A4000</li>
                        </ul>
                    </div>
                    <ul class="gpu-info">
                        <li>
                            <div class="col-left">
                                <p>16 GB VRAM</p>
                                <p>23 GB RAM 6 vCPU</p>
                            </div>
                            <div class="col-right">
                                <span>10 max</span>
                            </div>
                        </li>
                        <li>
                            <div class="col-left">
                                <span>Price per month</span>
                            </div>
                            <div class="col-right">
                                <p>700 $HASH</p>
                            </div>
                        </li>
                    </ul>
                    <div class="flex-lc justify-content-between">
                        <div class="circle percentage-0">
                            <p><span>0%</span><span>Used</span></p>
                            <div class="percentage-bar"></div>
                        </div>
                        <button type="button" class="btn-order txt-md">Order Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="modal-rentgpu">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <div class="modal-header">
                <h2 class="modal-title">Rent GPU</h2>
                <p>Submit your inquiry, and our team will reply soon.</p>
                <p>For further information, please join <a href="">@OpClouds_Tech</a> on Telegram.</p>
            </div>
            <div class="modal-body">
                <form action="" class="mt-0">
                    <fieldset>
                        <h4>*Business Profile:</h4>
                        <div class="form-group">
                            <div class="box-input">
                                <input type="text" name="" value="" placeholder="Business Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="box-input">
                                <input type="text" name="" value="" placeholder="Official Website">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="box-input">
                                <input type="email" name="" value="" placeholder="Corporate Email">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <h4>*Details on GPU:</h4>
                        <div class="form-group">
                            <div class="box-input">
                                <textarea placeholder="Purpose/Use Case"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="box-input">
                                <textarea placeholder="Desired GPU Characteristics"></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <h4>*Personal Contact:</h4>
                        <div class="form-group">
                            <div class="box-input">
                                <input type="text" name="" value="" placeholder="Full Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="box-input">
                                <input type="text" name="" value="" placeholder="Role/Designation within the Organization">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="box-input">
                                <input type="email" name="" value="" placeholder="Your Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="box-input">
                                <input type="text" name="" value="" placeholder="Your Telegram Handle">
                            </div>
                        </div>
                    </fieldset>
                    <div class="box-btn flex">
                        <button type="button" class="btn-sub flex-center" data-dismiss="modal"><span>Close</span></button>
                        <button type="submit" class="btn-gr flex-center txt-md fw-b">Connect Wallet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade lg" id="modal-overrides">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <div class="modal-body">
                <form action="" class="mt-0">
                    <div class="form-group d-block">
                        <label>Container Image</label>
                        <div class="box-input mb-3">
                            <input type="text" name="" placeholder="containerimage">
                        </div>
                        <div class="box-input">
                            <textarea placeholder="Container Start Command"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group d-block">
                            <label>Container Disk (Temporary)</label>
                            <div class="box-input">
                                <input type="text" value="20">
                                <span class="badge">GB</span>
                            </div>
                        </div>
                        <div class="form-group d-block">
                            <label>Volume Disk (Persistent)</label>
                            <div class="box-input">
                                <input type="text" value="20">
                                <span class="badge">GB</span>
                            </div>
                        </div>
                        <div class="form-group d-block">
                            <label>Container Disk (Temporary)</label>
                            <div class="box-input">
                                <input type="text" value="/workspace">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group d-block">
                            <label>Expose HTTP Ports (Max 10)</label>
                            <div class="box-input">
                                <input type="text" name="" value="8888,">
                            </div>
                        </div>
                        <div class="form-group d-block">
                            <label>Expose TCP Ports</label>
                            <div class="box-input">
                                <input type="text" name="" value="22,">
                            </div>
                        </div>
                    </div>
                    <div class="box-select no-bg pr mb-4">
                        <div class="selected flex-lc pr">
                            <div class="name">Environment Variables</div>
                        </div>
                        <ul class="list-select">

                        </ul>
                    </div>
                    <div class="box-btn box-btn--cs flex">
                        <button type="button" class="btn-sub flex-center" data-dismiss="modal"><span>Clear Overrides</span></button>
                        <button type="submit" class="btn-gr flex-center txt-md fw-b">Set Overrides</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
