<main>
    <div class="hashmind-intro pr">
        <div class="container">
            <div class="content text-center">
                <h1 data-aos="fade-up">HashMind - Revolutionizing DePIN and bridging off-chain value to on-chain users.</h1>
                <div class="text txt-md" data-aos="fade-up" data-aos-delay="200">We aim to connect users with cloud computing services, encompassing tasks like node setup or ASIC/GPU mining</div>
                <a href="" title="" class="btn-gr txt-md fw-b" data-aos="fade-up" data-aos-delay="400">Try HashMind</a>
            </div>
        </div>
        <div class="box-video">
            <video autoplay muted loop playsinline>
                <source src="./assets/img/hero.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="hashmind-protocol">
        <div class="container">
            <div class="box-content pr">
                <h2 class="title">Protocol Highlight</h2>
                <div class="protocol-highlight">
                    <div class="item bg-gr pr" data-aos="fade-up">
                        <div class="content">
                            <div class="img-icon"><img src="./assets/img/cloud.svg" alt=""></div>
                            <div class="txt-md">Cloud Computing Miners Services: provide users with a flexible and convenient cryptocurrency mining experience. Instead of dealing with the challenges of setting up and maintaining traditional mining hardware, users can enjoy the convenience of using virtual machines through this protocol.</div>
                        </div>
                    </div>
                    <div class="item bg-gr pr" data-aos="fade-up" data-aos-delay="200">
                        <div class="content">
                            <div class="img-icon"><img src="./assets/img/depin.svg" alt=""></div>
                            <div class="txt-md">Decentralized Physical Infrastructure Networks (DePIN): HashMind introduces a novel concept of DePIN that is connected to the protocol platform and provides various services.</div>
                        </div>
                    </div>
                    <div class="item bg-gr pr" data-aos="fade-up" data-aos-delay="400">
                        <div class="content">
                            <div class="img-icon"><img src="./assets/img/diamond.svg" alt=""></div>
                            <div class="txt-md">Real Yield: Weekly dividends for token holders, sourced from miners/nodes owned by the community and service fees.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hashmind-feature">
        <div class="container">
            <h2 class="title">Features Detail</h2>
            <div class="item flex-lc">
                <div class="item__img">
                    <video autoplay muted loop playsinline>
                        <source src="./assets/img/virtual-machine.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="item__content" data-aos="fade-up">
                    <h3 class="txt-xl fw-sm mb-4">Virtual Machine Setup</h3>
                    <p class="txt-md">The protocol empowers users to configure and personalize their virtual computing environments with ease. Whether you're a novice or an advanced user, the Virtual Machine Setup feature provides a user-friendly interface for a hassle-free and customizable virtual computing experience.</p>
                </div>
            </div>
            <div class="item flex-lc">
                <div class="item__img">
                    <video autoplay muted loop playsinline>
                        <source src="./assets/img/cloud-computing.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="item__content" data-aos="fade-up">
                    <h3 class="txt-xl fw-sm mb-4">Self-Managed Cloud Computing Miners</h3>
                    <p class="txt-md">This feature allows individuals to control and operate their mining equipment virtually, eliminating the requirement for physical infrastructure</p>
                </div>
            </div>
            <div class="item flex-lc">
                <div class="item__img">
                    <video autoplay muted loop playsinline>
                        <source src="./assets/img/ai-managed.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="item__content" data-aos="fade-up">
                    <h3 class="txt-xl fw-sm mb-4">AI Managed </h3>
                    <p class="txt-md">AI monitors the most efficient mining pools and dynamically adapts hardware performance settings, optimizing overall efficiency. Real-time hardware metrics, available via public APIs, provide users with valuable insights to make informed decisions.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="hashmind-roadmap">
        <div class="container">
            <h2 class="title">Roadmap</h2>
            <div class="roadmap">
                <div class="item bg-gr" data-aos="fade-up">
                    <div class="content">
                        <h4 class="txt-xl fw-sm">Phase 1: PLANNING AND PROSPECTING</h4>
                        <ul class="txt-md">
                            <li>Launch of Metroxynth DApp</li>
                            <li>Community-Owned Nodes/Miners</li>
                            <li>AI-Managed & Fractionalised Nodes/Miners</li>
                            <li>Self-Managed VMs Templates</li>
                            <li>CO2 Offset</li>
                            <li>Real-Yield Revenue</li>
                        </ul>
                    </div>
                </div>
                <div class="item bg-gr" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        <h4 class="txt-xl fw-sm">Phase 2: MASS INDUSTRIALISATION</h4>
                        <ul class="txt-md">
                            <li>Furnace: Enable Token Burn</li>
                            <li>Upgrades Plant</li>
                            <li>Metroxynth Emporium: Decentralised Credit Services</li>
                            <li>Improve GUI User Experience</li>
                            <li>AI-Based Execution Support</li>
                            <li>DAO Launch</li>
                            <li>Bitcoin L2 Expansion</li>
                        </ul>
                    </div>
                </div>
                <div class="item bg-gr" data-aos="fade-up" data-aos-delay="400">
                    <div class="content">
                        <h4 class="txt-xl fw-sm">Phase 3: METROCITY BUILDERS</h4>
                        <ul class="txt-md">
                            <li>PoW-Backed Stablecoin</li>
                            <li>Miner's Bank: Synthetic Loans & Borrowings</li>
                            <li>Decentralised Storage</li>
                            <li>Advanced Virtualisation & Enterprise Backup</li>
                            <li>Mining Guilds: Leveraged Resources</li>
                            <li>Roadmap Evolution</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>