<main>
    <div class="container">
        <div class="box-connect text-center pr">
            <div class="logo mb-md flex-center"><img src="./assets/img/logo-2.svg" alt=""></div>
            <div class="txt-md mb-md">Please connect your wallet to sign-in your account and start exploring the dashboard.</div>
            <a href="" title="" class="btn-sub flex-center"><span>Connect Wallet</span></a>
        </div>
    </div>
</main>