<main>
    <div class="container">
        <div class="hashmind-mining">
            <ul class="tab nav">
                <li><a href="#bittensor" title="" data-toggle="tab" class="btn-pr txt-md fw-b active"><span>Bittensor</span></a></li>
                <li><a href="#kaspa" title="" data-toggle="tab" class="btn-pr txt-md fw-b"><span>Kaspa</span></a></li>
                <li><a href="#eigenLayer" title="" data-toggle="tab" class="btn-pr txt-md fw-b"><span>EigenLayer</span></a></li>
                <li><a href="#starknet" title="" data-toggle="tab" class="btn-pr txt-md fw-b"><span>Starknet</span></a></li>
            </ul>
            <div class="tab-content">
                <div id="bittensor" class="tab-pane fade show active">
                    <div class="box-content">
                        <ul>
                            <li>
                                <h5 class="txt-md">Total Pool Staked</h5>
                                <p class="txt-md fw-b">N/A $HASH</p>
                            </li>
                            <li>
                                <h5 class="txt-md">Your Stake</h5>
                                <p class="txt-md fw-b">N/A $HASH</p>
                            </li>
                            <li>
                                <h5 class="txt-md">APR</h5>
                                <p class="txt-md fw-b">300%</p>
                            </li>
                            <li>
                                <h5 class="txt-md">Miners</h5>
                                <p class="txt-md fw-b">3</p>
                            </li>
                            <li>
                                <h5 class="txt-md">Hashrate</h5>
                                <p class="txt-md fw-b">N/A EH/s</p>
                            </li>
                            <li>
                                <h5 class="txt-md">Total Daily Incoming</h5>
                                <p class="txt-md fw-b">5 TAO/ Day</p>
                            </li>
                        </ul>
                        <div class="box-btn flex">
                            <button type="button" class="btn-sub flex-center" data-toggle="modal" data-target="#modal-stake"><span>Stake</span></button>
                            <button type="button" class="btn-gr flex-center txt-md fw-b" data-toggle="modal" data-target="#modal-unstake"><span>Unstake</span></button>
                            <button type="button" class="btn-sub btn-claim flex-center" data-toggle="modal" data-target="#modal-claim-btc"><span>Claim Reward</span></button>
                        </div>
                    </div>
                </div>
                <div id="kaspa" class="tab-pane fade">
                    <div class="box-content">
                        <ul>
                            <li>
                                <h5 class="txt-md">Total Pool Staked</h5>
                                <p class="txt-md fw-b">N/A $HASH</p>
                            </li>
                            <li>
                                <h5 class="txt-md">Your Stake</h5>
                                <p class="txt-md fw-b">N/A $HASH</p>
                            </li>
                            <li>
                                <h5 class="txt-md">APR</h5>
                                <p class="txt-md fw-b">300%</p>
                            </li>
                            <li>
                                <h5 class="txt-md">Miners</h5>
                                <p class="txt-md fw-b">3</p>
                            </li>
                            <li>
                                <h5 class="txt-md">Hashrate</h5>
                                <p class="txt-md fw-b">N/A EH/s</p>
                            </li>
                            <li>
                                <h5 class="txt-md">Total Daily Incoming</h5>
                                <p class="txt-md fw-b">5 KAS/ Day</p>
                            </li>
                        </ul>
                        <div class="box-btn flex">
                            <button type="button" class="btn-sub flex-center" data-toggle="modal" data-target="#modal-stake"><span>Stake</span></button>
                            <button type="button" class="btn-gr flex-center txt-md fw-b" data-toggle="modal" data-target="#modal-unstake"><span>Unstake</span></button>
                            <button type="button" class="btn-sub btn-claim flex-center" data-toggle="modal" data-target="#modal-claim-kas"><span>Claim Reward</span></button>
                        </div>
                    </div>
                </div>
                <div id="eigenLayer" class="tab-pane fade">
                    <div class="box-content">
                        <ul>
                            <li>
                                <h5 class="txt-md">Total Pool Staked</h5>
                                <p class="txt-md fw-b">N/A $HASH</p>
                            </li>
                            <li>
                                <h5 class="txt-md">Your Stake</h5>
                                <p class="txt-md fw-b">N/A $HASH</p>
                            </li>
                            <li>
                                <h5 class="txt-md">APR</h5>
                                <p class="txt-md fw-b">300%</p>
                            </li>
                            <li>
                                <h5 class="txt-md">Total Daily Incoming</h5>
                                <p class="txt-md fw-b">5 N/A/ Day</p>
                            </li>
                        </ul>
                        <div class="box-btn flex">
                            <button type="button" class="btn-sub flex-center" data-toggle="modal" data-target="#modal-stake"><span>Stake</span></button>
                            <button type="button" class="btn-gr flex-center txt-md fw-b" data-toggle="modal" data-target="#modal-unstake"><span>Unstake</span></button>
                            <button type="button" class="btn-sub btn-claim flex-center" data-toggle="modal" data-target="#modal-claim-tao"><span>Claim Reward</span></button>
                        </div>
                    </div>
                </div>
                <div id="Starknet" class="tab-pane fade">
                    <div class="box-content">
                        <ul>
                            <li>
                                <h5 class="txt-md">Total Pool Staked</h5>
                                <p class="txt-md fw-b">N/A $HASH</p>
                            </li>
                            <li>
                                <h5 class="txt-md">Your Stake</h5>
                                <p class="txt-md fw-b">N/A $HASH</p>
                            </li>
                            <li>
                                <h5 class="txt-md">APR</h5>
                                <p class="txt-md fw-b">300%</p>
                            </li>
                            <li>
                                <h5 class="txt-md">Total Daily Incoming</h5>
                                <p class="txt-md fw-b">5 N/A/ Day</p>
                            </li>
                        </ul>
                        <div class="box-btn flex">
                            <button type="button" class="btn-sub flex-center" data-toggle="modal" data-target="#modal-stake"><span>Stake</span></button>
                            <button type="button" class="btn-gr flex-center txt-md fw-b" data-toggle="modal" data-target="#modal-unstake"><span>Unstake</span></button>
                            <button type="button" class="btn-sub btn-claim flex-center" data-toggle="modal" data-target="#modal-claim-kas"><span>Claim Reward</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="modal-stake">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <form action="">
                <div class="form-group">
                    <label class="txt-md">Your Balance:</label>
                    <input type="text" name="" value="N/A $HASH" readonly>
                </div>
                <div class="form-group">
                    <label class="txt-md">Enter Your Stake Mount</label>
                    <input type="text" name="" placeholder="xx.xxx.00">
                </div>
                <button type="submit" class="btn-sub flex-center mt-md w-100"><span>Stake</span></button>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-unstake">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <form action="">
                <div class="form-group">
                    <label class="txt-md">Your Balance:</label>
                    <input type="text" name="" value="N/A $HASH" readonly>
                </div>
                <div class="form-group">
                    <label class="txt-md">Enter Your Stake Mount</label>
                    <input type="text" name="" placeholder="xx.xxx.00">
                </div>
                <button type="submit" class="btn-gr flex-center mt-md w-100 txt-md fw-b">Unstake</button>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-claim-btc">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <form action="">
                <div class="form-group">
                    <label class="txt-md">Available Reward:</label>
                    <input type="text" name="" value="N/A BTC" readonly>
                </div>
                <button type="submit" class="btn-sub flex-center mt-md w-100"><span>Claim</span></button>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-claim-tao">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <form action="">
                <div class="form-group">
                    <label class="txt-md">Available Reward:</label>
                    <input type="text" name="" value="N/A TAO" readonly>
                </div>
                <button type="submit" class="btn-sub flex-center mt-md w-100"><span>Claim</span></button>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-claim-kas">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal"></button>
            <form action="">
                <div class="form-group">
                    <label class="txt-md">Available Reward:</label>
                    <input type="text" name="" value="N/A KAS" readonly>
                </div>
                <button type="submit" class="btn-sub flex-center mt-md w-100"><span>Claim</span></button>
            </form>
        </div>
    </div>
</div>