<main>
    <div class="container">
        <div class="hashmind-setup flex">
            <div class="item item--1">
                <div class="header">
                    <h4 class="txt-md fw-b mb-xs">VM Details</h4>
                    <span class="txt-xs txt-gray">OS & Credentials</span>
                </div>
                <div class="box-content">
                    <div class="select-list">
                        <div class="bg-gr active pr">
                            <div class="content">
                                <label class="text-center">
                                    <input type="radio" name="server" checked>
                                    <i class="icon-ubuntu"></i>
                                    <p>
                                        <span class="txt-md fw-b">Ubuntu</span>
                                        <span class="txt-xs">Server 20.04 LTS</span>
                                    </p>
                                    <span class="checked"><span></span></span>
                                </label>
                            </div>
                        </div>
                        <div class="bg-gr pr">
                            <div class="content">
                                <label class="text-center">
                                    <input type="radio" name="server">
                                    <i class="icon-ubuntu"></i>
                                    <p>
                                        <span class="txt-md fw-b">Ubuntu</span>
                                        <span class="txt-xs">Server 22.04 LTS</span>
                                    </p>
                                    <span class="checked"><span></span></span>
                                </label>
                            </div>
                        </div>
                        <div class="bg-gr pr">
                            <div class="content">
                                <label class="text-center">
                                    <input type="radio" name="server">
                                    <i class="icon-windown"></i>
                                    <p>
                                        <span class="txt-md fw-b">Windows</span>
                                        <span class="txt-xs">Server 2022 Standard</span>
                                    </p>
                                    <span class="checked"><span></span></span>
                                </label>
                            </div>
                        </div>
                        <div class="bg-gr pr">
                            <div class="content">
                                <label class="text-center">
                                    <input type="radio" name="server">
                                    <i class="icon-windown"></i>
                                    <p>
                                        <span class="txt-md fw-b">Windows</span>
                                        <span class="txt-xs">Server 2019 Standard</span>
                                    </p>
                                    <span class="checked"><span></span></span>
                                </label>
                            </div>
                        </div>
                        <div class="bg-gr pr">
                            <div class="content">
                                <label class="text-center">
                                    <input type="radio" name="server">
                                    <i class="icon-windown"></i>
                                    <p>
                                        <span class="txt-md fw-b">Windows</span>
                                        <span class="txt-xs">Server 2016 Standard</span>
                                    </p>
                                    <span class="checked"><span></span></span>
                                </label>
                            </div>
                        </div>
                        <div class="bg-gr pr">
                            <div class="content">
                                <label class="text-center">
                                    <input type="radio" name="server">
                                    <i class="icon-alma"></i>
                                    <p>
                                        <span class="txt-md fw-b">Alma Linux</span>
                                        <span class="txt-xs">Alma Linux 9</span>
                                    </p>
                                    <span class="checked"><span></span></span>
                                </label>
                            </div>
                        </div>
                        <div class="bg-gr pr">
                            <div class="content">
                                <label class="text-center">
                                    <input type="radio" name="server">
                                    <i class="icon-alma"></i>
                                    <p>
                                        <span class="txt-md fw-b">Alma Linux</span>
                                        <span class="txt-xs">Alma Linux 8</span>
                                    </p>
                                    <span class="checked"><span></span></span>
                                </label>
                            </div>
                        </div>
                        <div class="bg-gr pr">
                            <div class="content">
                                <label class="text-center">
                                    <input type="radio" name="server">
                                    <i class="icon-rocky"></i>
                                    <p>
                                        <span class="txt-md fw-b">Rocky Linux</span>
                                        <span class="txt-xs">Rocky Linux 9</span>
                                    </p>
                                    <span class="checked"><span></span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item--2">
                <div class="header">
                    <h4 class="txt-md fw-b mb-xs">VM Login Info</h4>
                </div>
                <div class="box-content">
                    <form action="">
                        <div class="form-group">
                            <label>VM Name</label>
                            <div class="box-input bg-gr">
                                <input type="text" name="" placeholder="VM Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <div class="box-input bg-gr">
                                <input type="email" name="" placeholder="email@gmail.com">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <div class="box-input bg-gr pr">
                                <input type="password" name="" id="password-field" placeholder="******">
                                <span toggle="#password-field" class="toggle-password"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <div class="box-input bg-gr pr">
                                <input type="password" name="" id="password-field-confirm">
                                <span toggle="#password-field-confirm" class="toggle-password"></span>
                            </div>
                        </div>
                        <div class="box-btn flex">
                            <button type="reset" class="btn-back txt-md fw-b">Back</button>
                            <button type="reset" class="btn-gr txt-md fw-b">Next</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="item item--3">
                <div class="header">
                    <h4 class="txt-md fw-b mb-xs">Active VMs</h4>
                </div>
                <div class="more-opption">
                    <button type="button" class="btn-more flex-center"><i class="icon-more"></i></button>
                </div>
                <div class="box-content">
                    <div class="box-table">
                        <table>
                            <thead>
                            <tr>
                                <th>VM NAME</th>
                                <th>STAKED</th>
                                <th>STATUS</th>
                                <th>COUNTRY</th>
                                <th>ACTION</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="item item--4">
                <div class="vmusage flex-lc pr">
                    <p class="flex-lc fw-sm">vmUsage <span class="amount txt-xl fw-sm">0.0</span></p>
                    <a href="" title="" class="btn-sub flex-center"><span>Claim</span></a>
                </div>
            </div>
        </div>
    </div>
</main>