<main>
    <div class="container">
        <div class="hashmind-setup flex align-items-start">
            <div class="item item--lg">
                <div class="header">
                    <h4 class="txt-md fw-b mb-xs">VM Details</h4>
                    <span class="txt-xs txt-gray">OS & Credentials</span>
                </div>
                <div class="box-content">
                    <div class="select-list">
                        <div class="bg-gr active pr">
                            <div class="content">
                                <label class="text-center">
                                    <input type="radio" name="ubuntu" checked>
                                    <i class="icon-ubuntu"></i>
                                    <p>
                                        <span class="txt-xs">vCPU 1</span>
                                        <span class="txt-xs">vRAM 2GB</span>
                                        <span class="txt-xs">NVMe SSD 30GB</span>
                                        <span class="txt-md fw-b mt-xs">10K $HASH</span>
                                    </p>
                                    <span class="checked"><span></span></span>
                                </label>
                            </div>
                        </div>
                        <div class="bg-gr pr">
                            <div class="content">
                                <label class="text-center">
                                    <input type="radio" name="ubuntu">
                                    <i class="icon-ubuntu"></i>
                                    <p>
                                        <span class="txt-xs">vCPU 2</span>
                                        <span class="txt-xs">vRAM 4GB</span>
                                        <span class="txt-xs"> NVMe SSD 60GB</span>
                                        <span class="txt-md fw-b mt-xs">20K $MXH</span>
                                    </p>
                                    <span class="checked"><span></span></span>
                                </label>
                            </div>
                        </div>
                        <div class="bg-gr pr">
                            <div class="content">
                                <label class="text-center">
                                    <input type="radio" name="ubuntu">
                                    <i class="icon-ubuntu"></i>
                                    <p>
                                        <span class="txt-xs">vCPU 4</span>
                                        <span class="txt-xs">vRAM 8GB</span>
                                        <span class="txt-xs">NVMe SSD 120GB</span>
                                        <span class="txt-md fw-b mt-xs">40k $MXH</span>
                                    </p>
                                    <span class="checked"><span></span></span>
                                </label>
                            </div>
                        </div>
                        <div class="bg-gr pr">
                            <div class="content">
                                <label class="text-center">
                                    <input type="radio" name="ubuntu">
                                    <i class="icon-ubuntu"></i>
                                    <p>
                                        <span class="txt-xs">vCPU 8</span>
                                        <span class="txt-xs">vRAM 16GB</span>
                                        <span class="txt-xs">NVMe SSD 240GB</span>
                                        <span class="txt-md fw-b mt-xs">80k $MXH</span>
                                    </p>
                                    <span class="checked"><span></span></span>
                                </label>
                            </div>
                        </div>
                        <div class="bg-gr pr">
                            <div class="content">
                                <label class="text-center">
                                    <input type="radio" name="ubuntu">
                                    <i class="icon-ubuntu"></i>
                                    <p>
                                        <span class="txt-xs">vCPU 16</span>
                                        <span class="txt-xs">vRAM 32GB</span>
                                        <span class="txt-xs">NVMe SSD 480GB</span>
                                        <span class="txt-md fw-b mt-xs">120k $MXH</span>
                                    </p>
                                    <span class="checked"><span></span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item--sm">
                <form action="" method="">
                    <h4 class="txt-md fw-b mb-3">Server Location</h4>
                    <div class="form-group mb-0">
                        <div class="box-select bg-gr pr">
                            <div class="selected flex-lc pr">
                                <div class="name">Currency</div>
                            </div>
                            <ul class="list-select">
                                <li data-name="Paris" class="active">Paris</li>
                                <li data-name="Vienna">Vienna</li>
                                <li data-name="Falkenstein">Falkenstein</li>
                                <li data-name="Amsterdam">Amsterdam</li>
                                <li data-name="Helsinki">Helsinki</li>
                                <li data-name="Moscow">Moscow</li>
                                <li data-name="USA">USA</li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-btn flex mt-4 w-100">
                <button type="reset" class="btn-back txt-md fw-b">Back</button>
                <button type="button" class="btn-gr txt-md fw-b">Next</button>
            </div>
        </div>
    </div>
</main>