<main>
    <div class="container">
        <div class="hashmind-setup">
            <div class="complete text-center">
                <h2>All steps are completed!</h2>
                <div class="icon"><img src="./assets/img/success.svg" width="40" alt=""></div>
                <div class="txt-xs txt-gray">VM Launch on queue ~ 12h. Check your email for further instructions.</div>
                <a href="" title="" class="btn-sub flex-center"><span>Confirm</span></a>
            </div>
        </div>
    </div>
</main>