:root{
  --cyan: #0AFADC;
}
body{
  background: #0A0A0A;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 1.4;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}

html,body{scroll-behavior: smooth;}
body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}

@mixin hover{filter: saturate(2.1); -webkit-filter: saturate(2.1);}
a{transition: .25s; color: #000;}
a:hover{text-decoration: none;}

//header
header{
  width: 100%;
  background: #202020;
  position: fixed; z-index: 9;
  &.scroll{box-shadow: 0 2px 4px rgba(#000,.18);}
  .social{
    margin-left: auto;
    >*+*{margin-left: 20px;}
  }
  .avatar{
    margin-left: 16px;
    &__img{
      width: 36px; height: 36px;
      img{width: 100%; height: 100%; border-radius: 50%; object-fit: cover;}
    }
    &__info{padding-left: 12px;}
  }
  .navbar-toggle{display: none;}
  .btn-launch{margin-left: auto;}
  .btn-more{
    width: 40px; height: 40px; border-radius: 50%;
    &:hover{background: rgba(232,234,237,.08);}
    .icon-more{width: 24px; height: 24px; background: url("#{$img-path}/grid.svg") no-repeat center center;}
  }
  .btn-notifi{
    width: 40px; height: 40px; border-radius: 50%;
    &:hover{background: rgba(232,234,237,.08);}
    .icon-notifi{width: 24px; height: 24px; background: url("#{$img-path}/notification.svg") no-repeat center center;}
    span{position: absolute; right: 0; top: 0; color: #fff; font-weight: 600; font-size: 9px;}
  }
}
.navbar{
  height: 100%; width: 100%;
  display: flex; align-items: center; justify-content: flex-start;
  margin: 0 auto; padding: 20px 0;
  border-radius: 0; border: none;
  .logo{width: 215px;}
}
.navbar-collapse{padding: 0; justify-content: flex-start;}
.navbar-nav{
  margin: 0 0 0 80px; align-items: center;
  >*+*{margin-left: 50px;}
  > li{display: flex; align-items: center;}
  > li > a{display: block; font-size: 16px; font-weight: 700; color: #fff; line-height: 20px; position: relative;}
  a:hover,.active{color: var(--cyan);}
}


//home
main{min-height: 78vh; padding-top: 80px;}
.hashmind-intro{
  padding: vw(220px) 0 vw(260px);
  .container{position: relative; z-index: 2;}
  h1{max-width: 844px; margin: 0 auto 36px; font-weight: 400; font-size: 60px; line-height: 72px;}
  .text{margin: 0 auto 74px; max-width: 625px; color: #0AFADC;}
  .box-video{width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
}
.hashmind-protocol{
  padding: vw(135px) 0;
  .container{max-width: 1550px;}
  .title{margin-bottom: vw(65px);}
  .box-content{
    padding: vw(80px) vw(105px);
    border: vw(15px) solid #0AFADC
  }
  .protocol-highlight{
    display: grid; grid-template-columns: repeat(3,1fr); grid-gap: 30px;
    position: relative; z-index: 2;
    .img-icon img{margin: 0 auto;}
  }
  .item{
    .img-icon{margin-bottom: vw(40px);}
    &:hover{
      &::before,&::after{width: calc(100% - 2px); height: calc(100% - 2px);}
    }
    .content{padding: vw(60px) vw(52px); background: #0A0A0A;}
    &::after,&::before{
      content: ""; position: absolute; width: 0; height: 0;  background: #0AFADC; border-radius: 10px; transition: .8s;
    }
    &::before{top: 0; left: 0}
    &::after{bottom: 0; right: 0}
  }
  .box-video{width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
}
.hashmind-feature{
  padding: vw(70px) 0; position: relative; overflow: hidden;
  &::after,&::before{content: ""; width: 320px; height: 2021px; position: absolute; z-index: -1;}
  &::before{
    background: url("#{$img-path}/decor-1.svg") no-repeat 0 0/contain;
    top: -288px; left: 0;
  }
  &::after{
    width: 320px; height: 2021px;
    background: url("#{$img-path}/decor-2.svg") no-repeat 0 0/contain;
    top: -288px; right: 0;
  }
  .title{margin-bottom: vw(100px);}
  .container{max-width: 1120px;}
  .item{
    margin-bottom: 90px;
    &__img{width: 51.5%;}
    &__content{width: 48.5%; padding-left: 122px;}
    h3{color: var(--cyan);}
  }
  video{width: 100%;}
}
.hashmind-roadmap{
  padding: vw(160px) 0; position: relative;
  background:#202020;
  &::after,&::before{content: ""; position: absolute;}
  &::before{
    width: vw(661px); height: vw(908px);
    background: url("#{$img-path}/decor-3.svg") no-repeat 0 0/contain;
    bottom: 0; left: 0;
  }
  &::after{
    width: vw(480px); height: vw(550px);
    background: url("#{$img-path}/decor-4.svg") no-repeat 0 0/contain;
    top: 0; right: 0;
  }
  .title{margin-bottom: 60px;}
  .roadmap{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    align-items: flex-start;
    position: relative; z-index: 2;
    .item{background: linear-gradient(135deg, #a3a3a3 40%, #000 90%); position: relative;}
    .item{
      &:hover{
        &::before,&::after{width: calc(100% - 2px); height: calc(100% - 2px);}
      }
      &::after,&::before{
        content: ""; position: absolute; width: 0; height: 0;  background: #0AFADC; border-radius: 10px; transition: .8s;
      }
      &::before{top: 0; left: 0}
      &::after{bottom: 0; right: 0}
    }
    .content{background: #0A0A0A; padding: 55px 18px;}
    ul{
      color: #D9F2EB;
      >*+*{margin-top: 30px;}
      li{padding-left: 22px; position: relative;}
      li::before{
        content: "";
        width: 10px; height: 10px;
        background: var(--cyan); border-radius: 50%;
        position: absolute; left: 0; top: 50%; transform: translateY(-50%);
      }
    }
    h4{margin-bottom: 35px; color: var(--cyan);}
  }
  .container::after{
    content: "";
    width: 100%; height: 70%;
    background: linear-gradient(0deg, rgba(10, 10, 10, 0.70) 3.43%, rgba(10, 10, 10, 0.00) 70.16%);
    position: absolute; bottom: 0; left: 0;
  }
}
.box-video video{width: 100%; height: 100%; object-fit: cover;}

//category
.box-connect{
  width: 100%; max-width: 403px;
  padding: 60px 30px;
  margin: 250px auto;
  border-radius: 8px;
  background: #202020;
  box-shadow: 0px 0px 30px 0px rgba(10, 250, 220, 0.60);

  &::after{
    content: "";
    width: 562px; height: 573px;
    background: url("#{$img-path}/decor-5.svg") no-repeat 0 0/contain;
    position: absolute; left: -30px; top: -175px;  z-index: -1;
  }
}
.hashmind-steps{
  margin: 52px 0 0;
  padding: 28px 36px;
  border-radius: 8px;
  background: rgba(#202020,.3);
  box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.25);
  overflow: auto;
  ul{
    justify-content: space-between;
    li::after{
      content: "";
      height: 3px; width: 240px; display: block;
      background: #8F8F8F;
      margin-left: 22px;
    }
    li:last-child::after{display: none;}
  }
  .icon{width: 18px;}
  li{color: #8F8F8F; position: relative;}
  .error{color: #EA5455;}
  .success{
    color: var(--cyan);
    &::before{background: var(--cyan);}
  }
  .step{font-size: 48px; line-height: 72px; margin: 0 14px;}
}
.hashmind-setup{
  margin: 52px 0; justify-content: space-between;
  .item{
    border-radius: 8px;
    background: #111;
    box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    .box-content{padding: 0 36px 30px}
    .header{padding: 30px 36px; position: relative; cursor: pointer;}
    &--lg{
      width: 61%;
      .header{padding: 30px;}
      .box-content{padding: 0 30px 30px;}
      .select-list{
        >*+*{margin-top: 0;}
        padding-right: 0;
        display: grid; grid-template-columns: repeat(2,1fr);
        grid-column-gap: 30px;
        grid-row-gap: 25px;
      }
    }
    &--sm{width: 37%; padding: 30px;}
    &--1{
      width: 43%;
      .box-content{height: 590px; padding: 0 20px 20px 35px;}
    }
    &--2{width: 54%;}
    &--3{width: 100%; margin-top: 52px;}
    &--4{width: 100%; margin-top: 27px;}
    span{display: block;}
  }
  .more-opption{
    padding: 0; width: auto;
    position: absolute; right: 25px; top: 22px;
    .btn-more{
      width: 40px; height: 40px; border-radius: 50%;
      &:hover{background: rgba(232,234,237,.08);}
      .icon-more{width: 4px; height: 16px; background: url("#{$img-path}/more.svg") no-repeat;}
    }
  }
  .select-list{
    padding-right: 25px; height: 100%; overflow: auto;
    >*+*{margin-top: 30px;}
    &::-webkit-scrollbar{width: 6px;}
    &::-webkit-scrollbar-track{background: #111;}
    &::-webkit-scrollbar-thumb{background: rgba(#8F8F8F4D,.3);}
    .bg-gr{
      padding: 1px;
      &.active{background: var(--cyan);}
    }
    .active{
      .icon-ubuntu{background: url("#{$img-path}/unbutu.svg") no-repeat 0 0/contain;}
      .icon-windown{background: url("#{$img-path}/window-active.svg") no-repeat 0 0/contain;}
      .icon-alma{background: url("#{$img-path}/alma-active.svg") no-repeat 0 0/contain;}
      .icon-rocky{background: url("#{$img-path}/rocky-active.svg") no-repeat 0 0/contain;}
    }
    input{position: absolute; opacity: 0;}
    .content{background: #111; padding: 36px 45px;}
    label{
      width: 100%; height: 100%; margin: 0;
      display: flex; align-items: center;
      p{margin: 0 auto; flex: 1; padding: 0 5px;}
    }
    .checked{
      width: 16px; height: 16px;
      padding: 1px;
      border-radius: 50%;
      background: linear-gradient(157deg, #a3a3a3 30%, #000 90%);
      position: relative;
      span{width: 100%; height: 100%; border-radius: 50%; background: #202020;}
      &::after{
        content: "";
        width: 8px; height: 8px;
        background: var(--cyan);
        border-radius: 50%;
        position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
        opacity: 0;
      }
    }
    .icon-ubuntu{width: 48px; height: 46px; display: block; background: url("#{$img-path}/unbutu-1.svg") no-repeat 0 0/contain;}
    .icon-windown{width: 46px; height: 46px; display: block; background: url("#{$img-path}/window.svg") no-repeat 0 0/contain;}
    .icon-alma{width: 47px; height: 46px; display: block; background: url("#{$img-path}/alma.svg") no-repeat 0 0/contain;}
    .icon-rocky{width: 46px; height: 46px; display: block; background: url("#{$img-path}/rocky.svg") no-repeat 0 0/contain;}
    input:checked ~ .checked::after{opacity: 1;}
    img{margin: 0 auto 21px;}
  }
  form{
    label{margin-bottom: 16px; font-size: 16px; font-weight: 700; line-height: 20px; color: #fff;}
    .form-row{
      justify-content: space-between; margin: 0;
      .form-group{margin-bottom: 30px; width: calc(50% - 15px);}
    }
    .form-group{margin-bottom: 30px;}
    .box-input{
      padding: 1px; border-radius: 8px; background: linear-gradient(170deg, #a3a3a3 30%, #000 90%);
      &.error{background: #EA5455;}
    }
    .error-message{margin-top: 16px; font-size: 14px; line-height: 16px; color: #EA5455;}
    input{
      width: 100%; height: 48px;
      background: #111; border-radius: 8px; border: none;
      padding: 0 18px;
      font-size: 14px;
      color: #fff;
      &:focus{outline: none;}
      &::placeholder{color: #8F8F8F;}
    }
  }
  .box-table{
    width: 100%; overflow: auto; padding-bottom: 30px;
    table{width: 100%; color: #8F8F8F; line-height: 16px;}
    td{padding: 18px 16px; font-size: 12px; border-bottom: 1px solid #8F8F8F;}
    tr td:last-child{padding: 18px 0;}
    th{padding: 16px; font-size: 14px; text-transform: uppercase; border-top: 1px solid #8F8F8F; border-bottom: 1px solid #8F8F8F; font-weight: 400;}
    .status{
      display: inline-block; padding: 3px 12px; border-radius: 4px;
      &.pending{background: rgba(32, 32, 32, 0.50);}
      &.hold{background: rgba(246, 148, 0, 0.50); color: #fff;}
      &.verified{background: rgba(10, 250, 220, 0.50); color: #fff;}
    }
    .btn-unstake{
      padding: 10px 29px;
      background: #0AFADC; border-radius: 12px;
      box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.12);
      color: #000;
    }
  }
  .vmusage{
    padding: 36px;
    p{
      margin-bottom: 0; font-size: 18px; line-height: 36px;
      span{margin-left: 20px;}
    }
    .amount{color: var(--cyan);}
    .btn-sub{
      min-width: 188px; margin-left: auto;
      &::before{background: #111;}
    }
  }
  .toggle-password{
    width: 18px; height: 18px;
    background: url('#{$img-path}/icon-eye-1.svg') no-repeat center center;
    position: absolute; right: 18px; top: 16px; cursor: pointer;
    &.show{background: url('#{$img-path}/eyes-off.svg') no-repeat center center;}
  }
  .box-btn{
    margin-top: 60px;
    justify-content: space-between;
    button{min-width: 188px;}
    .btn-back{
      border-radius: 12px;
      background: #202020;
      box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.12);
      color: #8F8F8F;
      &:hover{color: #fff;}
    }
  }
  .complete{
    padding: 58px 38px;
    border-radius: 8px;
    background: #111;
    box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.25);
    h2{font-size: 18px; font-weight: 500; line-height: 36px; color: var(--cyan);}
    .icon{width: 40px; margin: 25px auto;}
    .btn-sub{width: 188px; margin: 65px auto 0;}
  }
}
.hashmind-mining{
  max-width: 467px; margin: 100px auto;
  .tab{
    justify-content: center; margin-bottom: 30px;
    li{margin: 0 7px;}
    a{display: inline-block; padding: 10px 16px;}
    .active{color: var(--cyan);}
  }
  .tab-content{
    padding: 45px 30px;
    border-radius: 8px;
    background: #202020;
    box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.25);
  }
  ul{
    >*+*{margin-top: 25px;}
    li{display: flex; align-items: center; padding: 9px 0;}
    h5,p{width: 50%;}
    h5{margin-bottom: 0; color: #8F8F8F;}
    p{padding-left: 15px;}
  }
  .box-btn{
    margin-top: 60px; justify-content: space-between;
    button{width: 48%;}
    .btn-claim{margin-top: 30px; width: 100%;}
  }
}
.box-select{
  border-radius: 8px; padding: 1px;
  background: linear-gradient(175deg, #a3a3a3 50%, #0A0A09 90%);
  overflow: inherit;
  &.error{background: #EA5455;}
  .selected{
    height: 38px; width: 100%;
    padding: 0 18px;
    background: #111; border: none; border-radius: 8px;
    color: #fff;
    font-size: 16px; cursor: pointer;
    &::after{
      content: "";
      width: 20px; height: 11px;
      background: url("#{$img-path}/arrow.svg") no-repeat 0 0/contain;
      position: absolute; right: 18px; top: 50%; transform: translateY(-50%);
    }
  }
  &.show{
    .selected::after{transform: translateY(-50%) rotate(180deg);}
    .list-select{opacity: 1; visibility: visible; z-index: 2;}
  }
  .list-select{
    width: 100%;
    background: #111;
    margin-top: 8px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(0, 0, 0, 0.06);
    position: absolute; right: 0; opacity: 0; visibility: hidden; overflow: hidden; z-index: -1;
    li{padding: 14px 18px; cursor: pointer; position: relative; color: #8F8F8F;}
    li:hover,.active{
      background: #202020;
      &.active::after{opacity: 1;}
    }
    li:hover{color: #fff;}
    li::after{
      content: "";
      width: 20px; height: 14px;
      background: url("#{$img-path}/check.svg") no-repeat 0 0/contain;
      position: absolute; right: 14px; top: 50%; transform: translateY(-50%); opacity: 0;
    }
    span{color: #8F8F8F; font-size: 14px; line-height: 16px;}
  }
}
//gpu
.gpu-renting{
  padding: 84px 0;
  .box-select{

  }
}
.topbar{
  margin-bottom: 54px;
  >*+*{margin-left: 15px;}
  .item{
    padding: 14px 22px;
    border-radius: 12px;
    background: #202020;
  }
  .box-select{
    background: none; border: 1px solid #0AFADC;
    box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.12);
    .selected{height: 38px; width: 248px; padding: 0 45px 0 29px; color: #0AFADC; font-weight: 700;}
    .selected::after{
      width: 14px; height: 8px;
      background: url("#{$img-path}/arrow-down.svg") no-repeat;
    }
  }
  .box-input{padding: 1px; margin-right: 20px; background: linear-gradient(174deg, #a3a3a3 40%, #0A0A09 90%);}
  input{width: 100%; padding: 0 15px; border: none; height: 40px; background: #111; border-radius: 12px; color: #fff; font-weight: 700;}
  input::placeholder{color: #fff;}
  input:focus{outline: none;}
}
.gpu-list{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
  .item{padding: 75px 20px 20px; border-radius: 8px; background: #202020; position: relative;}
  .box-select{
    background: none; border: 1px solid #fff;
    .selected{background: #202020;}
    .selected::after{width: 14px; height: 8px; background: url("#{$img-path}/arrow-down-2.svg") no-repeat;}
  }
  .gpu-info{
    margin: 25px 0;
    >*+*{margin-top: 15px;}
    li{display: flex; align-items: flex-start;}
    li > div{width: 50%;}
    .col-right{text-align: right;}
    p{font-weight: 700; line-height: 18px;}
    span{color: #8F8F8F; line-height: 16px;}
  }
  .circle{
    span{display: block;}
  }
  .available{
    width: 75px; height: 75px;
    background: url("#{$img-path}/available.png") no-repeat 0 0/contain;
    position: absolute; right: 0; top: 0;
  }
  .btn-order{
    padding: 3px 16px;
    background: #0AFADC;
    border-radius: 12px;
    box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.12);
    font-weight: 700; color: #0A0A0A;
    &:hover{background: #07c6ae;}
  }
}


footer{
  padding: 36px 0;
  background: #0A0A0A;
  position: relative;
  .social{
    justify-content: center;
    >*+*{margin-left: 80px;}
  }
  a{color: #fff;}
  a:hover{color: var(--cyan);}
}

//modal
.modal{
  &.lg .modal-dialog{max-width: 788px;}
  .modal-dialog{max-width: 467px;}
  .modal-header{
    margin-bottom: 25px; border: none; display: block; padding: 0;
    p{font-size: 12px; line-height: 16px; color: #8F8F8F;}
    a{color: #0AFADC;}
  }
  .modal-body{padding: 0;}
  .modal-content{
    padding: 45px 30px;
    border: none;
    border-radius: 8px;
    background: #202020;
    box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.25);
    form{margin-top: 30px;}
    .form-group{display: flex; align-items: center; justify-content: space-between;}
    .d-block{
      margin-bottom: 25px;
      label{margin-bottom: 12px; color: #fff; font-size: 12px; line-height: 16px;}
    }
    label{margin-bottom: 0; font-weight: 400; color: #8F8F8F;}
    input{
      width: 180px; height: 40px;
      padding: 0 28px;
      border-radius: 12px;
      background: #202020;
      border: 1px solid rgba(#8F8F8F4D,.3);
      box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.12);
      font-weight: 700;
      font-size: 16px; line-height: 20px;
      color: var(--cyan);
      &::placeholder{color: var(--cyan);}
      &:focus{outline: none;}
    }
    input:read-only{padding: 0 8px; color: #fff; background: none; border: none; box-shadow: none;}
    .box-input{
      width: 100%;
      display: flex; flex-direction: column;
      background: linear-gradient(174deg, #a3a3a3 40%, #0A0A09 90%);
      border-radius: 8px; padding: 1px; position: relative; overflow: hidden;
      .badge{padding: 0; font-size: 14px; font-weight: 400; position: absolute; top: 13px; right: 14px;}
      input,textarea{width: 100%; background: #202020; border: none; border-radius: 8px; color: #fff; font-weight: 400; font-size: 14px; line-height: 16px;}
      input{padding: 0 17px;}
      textarea{padding: 10px 17px; height: 60px;}
      input::placeholder{color: #8F8F8F;}
      input:focus,textarea:focus{outline: none;}
    }
    .form-row{
      margin: 0;
      >*+*{margin-left: 24px;}
      .form-group{flex: 1;}
    }
  }
  .modal-title{font-size: 30px; line-height: 48px; text-transform: uppercase;}
  fieldset{
    margin-bottom: 25px;
    h4{margin-bottom: 16px; font-weight: 700; font-size: 14px; line-height: 18px;}
  }
  .box-btn{
    justify-content: space-between;
    &--cs{
      justify-content: flex-end; flex-wrap: nowrap;
      >*+*{margin-left: 20px;}
      button{max-width: 196px;}
    }
    button{width: 48%;}
  }
  .box-select.no-bg{
    display: inline-block;
    background: none;
    .selected{padding: 0 32px 0 0; background: none;}
    .selected::after{right: 0;}
  }
  .close{
    width: 15px; height: 16px;
    background: url("#{$img-path}/close.svg") no-repeat;
    position: absolute; top: 15px; right: 15px;
    opacity: 1;
  }
}

//uikit
.pr{position: relative;}
.pa{position: absolute;}
li{list-style: none;}
.social{
  a{display: block; font-size: 0; height: 20px;}
  a:hover{filter: brightness(100%) drop-shadow(rgb(0, 132, 42) 0px 0px 10px) drop-shadow(rgb(0, 134, 105) 0px 0px 16px) drop-shadow(rgba(0, 232, 112, 0.8) 0px 0px 40px);}
  .telegram{width: 25px; background: url("#{$img-path}/telegram.svg") no-repeat 0 0/contain;}
  .twitter{width: 26px; background: url("#{$img-path}/twitter.svg") no-repeat 0 0/contain;}
  .discord{width: 27px; background: url("#{$img-path}/discord.svg") no-repeat 0 0/contain;}
  .youtube{width: 29px; background: url("#{$img-path}/youtube.svg") no-repeat 0 0/contain;}
}
.flex-1{flex: 1;}
h2.title{color: #fff; font-weight: 400; font-size: 48px; line-height: 72px; text-align: center;}
.img-fit{width: 100%; height: 100%; object-fit: cover;}
.txt-gray{color: #8F8F8F;}

.txt-xs{font-size: 12px; line-height: 16px;}
.txt-md{font-size: 16px; line-height: 20px;}
.txt-xl{font-size: 30px; line-height: 48px;}
.fw-b{font-weight: 700;}
.fw-sm{font-weight: 500;}
.mb-xs{margin-bottom: 2px;}
.mt-xs{margin-top: 2px;}
.mb-md{margin-bottom: 35px;}
.mt-md{margin-top: 35px;}

button{
  background: none; padding: 0; cursor: pointer; border: none; transition: .25s;
  &:focus{outline: none;}
}
.breadcrumb{
  padding: 27.5px 0; background: none; margin-bottom: 0;
  a{font-weight: 500; color: #726666;}
  .active{font-weight: 700; color: var(--black);}
  .breadcrumb-item + .breadcrumb-item::before{font-weight: 400; padding-right: .1rem;}
  .breadcrumb-item + .breadcrumb-item{padding-left: .1rem;}
}
.bg-gr{
  border-radius: 12px; padding: 2px; background: linear-gradient(135deg, #a3a3a3 40%, #0A0A09 90%); overflow: hidden;
  .content{height: 100%; border-radius: 10px; position: relative; z-index: 2;}
}
.btn-pr{
  display: inline-block;
  padding: 10px 29px;
  border-radius: 12px;
  background: #0A0A0A;
  box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.12);
  color: #fff;
  position: relative;
  &:hover{color: var(--cyan);}
  &::after{
    content: "";
    width: calc(100% + 2px); height: calc(100% + 2px);
    border-radius: 12px;
    background: linear-gradient(157deg, #a3a3a3 30%, #000 90%);
    position: absolute; top: -1px; left: -1px; z-index: -1;
  }
}
.btn-sub{
  padding: 10px 20px;
  border-radius: 12px;
  box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.12);
  font-weight: 700; font-size: 16px; line-height: 20px;
  color: var(--cyan); position: relative;
  span{position: relative; z-index: 3;}
  &::after,&::before{content: ""; position: absolute;}
  &::after{
    width: calc(100% + 2px); height: calc(100% + 2px);
    border-radius: 12px;
    background: var(--cyan);
   top: -1px; left: -1px;
  }
  &::before{
    content: "";
    width: 100%; height: 100%;
    background: #111;
    border-radius: 12px;
    left: 0; top: 0; z-index: 2;

  }
  &:hover::after{background: linear-gradient(157deg, #a3a3a3 30%, #000 90%);}
  &:hover span{
    color: #a3a3a3;
    background: linear-gradient(170deg, rgba(255, 255, 255, 0.70) 2.74%, rgba(10, 10, 10, 0.70) 86.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.btn-gr{
  display: inline-block;
  padding: 10px 29px;
  background: #0AFADC;
  border-radius: 12px;
  box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.12);
  color: #0A0A0A;
  &:hover{background: #000; color: #fff;}
}
.m-show{display: none;}


@media (min-width: 1440px) {
  .container{max-width: 1330px;}
}
@media (max-width: 1440px) {
  .container{max-width: 1270px;}
  main{padding-top: 72px;}
  .navbar{
    padding: 16px 0;
    .logo{width: 190px;}
  }
  .navbar-nav{
    margin-left: 80px;
    >*+*{margin-left: 60px;}
  }

  .box-connect{margin: 180px auto;}
  .hashmind-intro{
    padding: vw(160px) 0 vw(200px);
  }
  .hashmind-roadmap{
    .roadmap{
      ul > *+*{margin-top: 24px;}
    }
  }
  .hashmind-feature{
    .item{
      &__content{padding-left: 12px; max-width: 420px;}
    }
  }
  .hashmind-steps{
    margin-top: 40px;
    ul li::after{margin-left: 4vw; width: 10vw;}
  }
  .hashmind-setup{margin: 40px 0;}

  footer{
    padding: 28px 0;
    .logo{width: 190px;}
  }
}

@media (max-width: 1280px) {
  header{
    .social > *+*{margin-left: 10px;}
  }
  .navbar-nav{
    margin-left: auto;
    >*+*{margin-left: 24px;}
  }
}

@media (max-width: 1024px) {
  header{
    .navbar-toggle{display: block; position: absolute; right: 0;}
    .btn-launch{margin-left: 25px;}
    .social{margin: 0 0 40px 20px;}
  }
  .navbar{
    width: 100%; min-height: auto; justify-content: flex-start;
    .logo{width: 180px;}
    .login{
      margin: 15px 0 0 25px;
      .more,.notifi{display: none;}
    }
    .avatar{margin-left: 0;}
  }
  .navbar-collapse{
    display: flex; flex-direction: column;
    align-items: flex-start;
    position: fixed; top: 65px; left: -100%;
    width: 100%; height: calc(100% - 65px);
    padding: 0 0 30px;
    background: #000;
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    &.show{left: 0;}
  }
  .navbar-toggle{
    display: block;
    width: 18px;
    height: 12px;
    padding: 0;
    background: none; border: none;
    span{
      display: block; width: 18px; height: 2px; border-radius: 2px;
      background: #fff; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 18px; height: 2px; background: #fff; position: absolute; border-radius: 2px;
    }
    span:before{top: -6px;}
    span:after{bottom: -6px;}
  }
  .navbar-toggle.active{
    z-index: 99;
    span{width: 18px; transform: rotate(45deg);}
    span:after{width: 16px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%;
    display: block;
    margin: 0;
    padding: 25px;
    >*+*{margin: 40px 0 0;}
    > li > a{line-height: inherit; padding: 0;}
    a{text-align: center; font-size: 16px;}
    .active::after{display: none;}
  }
  .m-show{display: flex; align-items: center;}

  main{padding-top: 72px; overflow: hidden;}
  .hashmind-protocol{
    .protocol-highlight{grid-column-gap: 16px; grid-row-gap: 24px;}
  }
  .hashmind-roadmap{
    .roadmap{grid-gap: 16px;}
  }
  .hashmind-setup{
    .select-list{
      >*+*{margin-top: 20px;}
      .content{padding: 36px 25px;}
    }
    .item{
      .header{padding: 20px 20px;}
      .box-content{padding: 0 20px 30px;}
    }
    .more-opption{right: 10px; top: 11px;}
  }
  .hashmind-steps{
    padding: 24px 15px;
    .step{font-size: 40px; line-height: 1.4;}
    .step-list{min-width: 862px;}
    ul li::after{width: 80px; margin-left: 20px;}
  }
  .gpu-renting{padding: 48px 0;}
  .topbar{margin-bottom: 24px;}
  .gpu-list{grid-template-columns: repeat(3,1fr);}

  .txt-xl{font-size: 26px; line-height: 40px;}
  footer{}
}

@media (max-width: 820px) {

}

@media (max-width: 767px) {
  .hashmind-protocol{
    .protocol-highlight{grid-template-columns: repeat(1,1fr);}
    .box-video{display: none;}
  }
  .hashmind-roadmap{
    .roadmap{grid-template-columns: repeat(1,1fr);}
  }
  .hashmind-mining{
    margin: 50px auto;
    ul > *+*{margin-top: 20px;}
    .box-btn{margin-top: 40px;}
    .tab{
      margin-bottom: 20px;
      li{margin: 0 5px;}
    }
    .tab-content{padding: 30px 15px;}
  }
  .hashmind-setup{
    .item{
      &--1{
        width: 100%;
        .box-content{height: 450px;}
      }
      &--2{width: 100%; margin-top: 30px;}
      &--3{margin-top: 30px;}
      &--lg,&--sm{width: 100%;}
      &--sm{margin-top: 30px; padding: 30px 20px;}
      &--lg{
        .select-list{grid-template-columns: repeat(1,1fr); grid-gap: 16px;}
      }
    }
  }

  .gpu-list{
    grid-template-columns: repeat(2,1fr);
  }
  .topbar{
    >*+*{margin: 16px 0 0;}
    .item{padding: 12px 15px; width: 100%;}
    .box-select .selected{width: 100%; padding: 0 38px 0 15px; font-size: 14px;}
    form,.box-select{width: 100%;}
    form{margin-bottom: 16px;}
    .box-input{margin-right: 0;}
  }

  .modal{
    .modal-content{padding: 40px 15px;}
  }
  footer{
    .social > *+*{margin-left: 30px;}
  }
}

@media (max-width: 640px) {
  .hashmind-intro{
    padding: 80px 0;
    h1{margin-bottom: 28px; font-size: 48px; line-height: 1.2;}
    .text{margin-bottom: 54px;}
  }
  .hashmind-protocol{
    padding: 60px 0;
    .title{margin-bottom: 30px;}
    .box-content{padding: 30px 0; border: none;}
    .protocol-highlight{padding: 0 15px;}
    .item{
      .content{padding: 20px 15px;}
    }
  }
  .hashmind-feature{
    padding: 60px 0;
    .title{margin-bottom: 40px;}
    &::after,&::before{width: 160px;}
    &::before{top: 0;}
    &::after{top: 0;}
    .item{
      margin-bottom: 30px;
      &__img,&__content{width: 100%;}
      &__content{margin-top: 30px; padding-left: 0; text-align: center;}
    }
  }
  .hashmind-roadmap{
    padding: 60px 0;
    &::after{width: 160px; height: 260px;}
    &::before{width: 200px; height: 270px;}
    .title{margin-bottom: 40px;}
  }
  .hashmind-setup{
    .select-list{
      padding-right: 15px;
      &::-webkit-scrollbar{width: 4px;}
      .content{padding: 24px 15px;}
      .icon-windown{width: 38px; height: 38px;}
      .icon-rocky{width: 38px; height: 38px;}
      .icon-ubuntu{width: 42px; height: 40px;}
      .icon-alma{width: 41px; height: 40px;}
    }
    .complete{padding: 38px 24px;}
    .vmusage{
      padding: 24px 15px;
      .btn-sub{min-width: 138px;}
    }
    form{
      .form-row{
        .form-group{width: 100%; margin-bottom: 24px;}
      }
      .form-group{margin-bottom: 24px;}
    }
    .box-btn{
      margin-top: 40px;
      button,a{min-width: 48%;}
    }
  }
  .hashmind-steps{
    .step{margin: 0 8px;}
    .step-list{min-width: 780px;}
    ul li::after{width: 70px; margin-left: 10px;}
  }
  .modal{
    .modal-content{
      .form-row{
        flex-wrap: wrap;
        >*+*{margin: 0 0 24px;}
        .form-group{width: 100%; flex: inherit;}
      }
    }
  }

  footer{
    .logo{margin: 0 auto;}
    .social{width: 100%; margin: 30px 0;}
    .whitepaper{width: 100%; text-align: center;}
  }

  h2.title{font-size: 38px; line-height: 1.2;}
  .btn-gr{padding: 10px 16px;}
}
@media (max-width: 480px) {
  .hashmind-intro{
    h1{font-size: 37px;}
  }
  .hashmind-feature{
    &::before,&::after{width: 140px;}
  }
  .gpu-list{
    grid-template-columns: repeat(1,1fr);
  }
}


.circle.percentage-100 .percentage-bar:after, .circle.percentage-99 .percentage-bar:after, .circle.percentage-98 .percentage-bar:after, .circle.percentage-97 .percentage-bar:after, .circle.percentage-96 .percentage-bar:after, .circle.percentage-95 .percentage-bar:after, .circle.percentage-94 .percentage-bar:after, .circle.percentage-93 .percentage-bar:after, .circle.percentage-92 .percentage-bar:after, .circle.percentage-91 .percentage-bar:after, .circle.percentage-90 .percentage-bar:after, .circle.percentage-89 .percentage-bar:after, .circle.percentage-88 .percentage-bar:after, .circle.percentage-87 .percentage-bar:after, .circle.percentage-86 .percentage-bar:after, .circle.percentage-85 .percentage-bar:after, .circle.percentage-84 .percentage-bar:after, .circle.percentage-83 .percentage-bar:after, .circle.percentage-82 .percentage-bar:after, .circle.percentage-81 .percentage-bar:after, .circle.percentage-80 .percentage-bar:after, .circle.percentage-79 .percentage-bar:after, .circle.percentage-78 .percentage-bar:after, .circle.percentage-77 .percentage-bar:after, .circle.percentage-76 .percentage-bar:after, .circle.percentage-75 .percentage-bar:after, .circle.percentage-74 .percentage-bar:after, .circle.percentage-73 .percentage-bar:after, .circle.percentage-72 .percentage-bar:after, .circle.percentage-71 .percentage-bar:after, .circle.percentage-70 .percentage-bar:after, .circle.percentage-69 .percentage-bar:after, .circle.percentage-68 .percentage-bar:after, .circle.percentage-67 .percentage-bar:after, .circle.percentage-66 .percentage-bar:after, .circle.percentage-65 .percentage-bar:after, .circle.percentage-64 .percentage-bar:after, .circle.percentage-63 .percentage-bar:after, .circle.percentage-62 .percentage-bar:after, .circle.percentage-61 .percentage-bar:after, .circle.percentage-60 .percentage-bar:after, .circle.percentage-59 .percentage-bar:after, .circle.percentage-58 .percentage-bar:after, .circle.percentage-57 .percentage-bar:after, .circle.percentage-56 .percentage-bar:after, .circle.percentage-55 .percentage-bar:after, .circle.percentage-54 .percentage-bar:after, .circle.percentage-53 .percentage-bar:after, .circle.percentage-52 .percentage-bar:after, .circle.percentage-51 .percentage-bar:after {
  position: absolute;
  content: "";
  -webkit-clip-path: inset(0 0 0 50%);
  clip-path: inset(0 0 0 50%);
  transform: rotate(0deg);
  width: 70px;
  height: 70px;
  border: 5px solid #0AFADC;
  background: transparent;
  border-radius: 100%;
  transition: width 0.2s ease-out, height 0.2s ease-out, border-width 0.2s ease-out;
}

.circle.percentage-100 .percentage-bar, .circle.percentage-99 .percentage-bar, .circle.percentage-98 .percentage-bar, .circle.percentage-97 .percentage-bar, .circle.percentage-96 .percentage-bar, .circle.percentage-95 .percentage-bar, .circle.percentage-94 .percentage-bar, .circle.percentage-93 .percentage-bar, .circle.percentage-92 .percentage-bar, .circle.percentage-91 .percentage-bar, .circle.percentage-90 .percentage-bar, .circle.percentage-89 .percentage-bar, .circle.percentage-88 .percentage-bar, .circle.percentage-87 .percentage-bar, .circle.percentage-86 .percentage-bar, .circle.percentage-85 .percentage-bar, .circle.percentage-84 .percentage-bar, .circle.percentage-83 .percentage-bar, .circle.percentage-82 .percentage-bar, .circle.percentage-81 .percentage-bar, .circle.percentage-80 .percentage-bar, .circle.percentage-79 .percentage-bar, .circle.percentage-78 .percentage-bar, .circle.percentage-77 .percentage-bar, .circle.percentage-76 .percentage-bar, .circle.percentage-75 .percentage-bar, .circle.percentage-74 .percentage-bar, .circle.percentage-73 .percentage-bar, .circle.percentage-72 .percentage-bar, .circle.percentage-71 .percentage-bar, .circle.percentage-70 .percentage-bar, .circle.percentage-69 .percentage-bar, .circle.percentage-68 .percentage-bar, .circle.percentage-67 .percentage-bar, .circle.percentage-66 .percentage-bar, .circle.percentage-65 .percentage-bar, .circle.percentage-64 .percentage-bar, .circle.percentage-63 .percentage-bar, .circle.percentage-62 .percentage-bar, .circle.percentage-61 .percentage-bar, .circle.percentage-60 .percentage-bar, .circle.percentage-59 .percentage-bar, .circle.percentage-58 .percentage-bar, .circle.percentage-57 .percentage-bar, .circle.percentage-56 .percentage-bar, .circle.percentage-55 .percentage-bar, .circle.percentage-54 .percentage-bar, .circle.percentage-53 .percentage-bar, .circle.percentage-52 .percentage-bar, .circle.percentage-51 .percentage-bar {
  -webkit-clip-path: none;
  clip-path: none;
}

.circle {
  width: 70px;
  height: 70px;
  cursor: default;
}
.circle p {
  position: absolute;
  display: flex; flex-direction: column;
  align-items: center; justify-content: center;
  width: 70px;
  height: 70px;
  transition: font-size 0.2s ease-out;
  span:nth-child(1){font-size: 16px; line-height: 20px; color: #fff; font-weight: 700;}
  span:nth-child(2){font-size: 14px; line-height: 16px; color: #8F8F8F;}
}
.circle:before {
  position: absolute;
  content: "";
  background-color: transparent;
  width: 70px;
  height: 70px;
  border: 5px solid rgba(#74817D,.5);
  background: transparent;
  border-radius: 100%;
  transition: width 0.2s ease-out, height 0.2s ease-out, border-width 0.2s ease-out;
}
.circle .percentage-bar {
  width: 70px;
  height: 70px;
  position: absolute;
  -webkit-clip-path: inset(0 0 0 50%);
  clip-path: inset(0 0 0 50%);
}
.circle .percentage-bar:before {
  position: absolute;
  content: "";
  -webkit-clip-path: inset(0 50% 0 0);
  clip-path: inset(0 50% 0 0);
  transform: rotate(0deg);
  width: 70px;
  height: 70px;
  border: 5px solid #0AFADC;
  background: transparent;
  border-radius: 100%;
  transition: width 0.2s ease-out, height 0.2s ease-out, border-width 0.2s ease-out;
}

.circle.percentage-1 .percentage-bar:before {
  transform: rotate(3.6deg);
}
.circle.percentage-2 .percentage-bar:before {
  transform: rotate(7.2deg);
}
.circle.percentage-3 .percentage-bar:before {
  transform: rotate(10.8deg);
}
.circle.percentage-4 .percentage-bar:before {
  transform: rotate(14.4deg);
}
.circle.percentage-5 .percentage-bar:before {
  transform: rotate(18deg);
}
.circle.percentage-6 .percentage-bar:before {
  transform: rotate(21.6deg);
}
.circle.percentage-7 .percentage-bar:before {
  transform: rotate(25.2deg);
}
.circle.percentage-8 .percentage-bar:before {
  transform: rotate(28.8deg);
}
.circle.percentage-9 .percentage-bar:before {
  transform: rotate(32.4deg);
}
.circle.percentage-10 .percentage-bar:before {
  transform: rotate(36deg);
}
.circle.percentage-11 .percentage-bar:before {
  transform: rotate(39.6deg);
}
.circle.percentage-12 .percentage-bar:before {
  transform: rotate(43.2deg);
}
.circle.percentage-13 .percentage-bar:before {
  transform: rotate(46.8deg);
}
.circle.percentage-14 .percentage-bar:before {
  transform: rotate(50.4deg);
}
.circle.percentage-15 .percentage-bar:before {
  transform: rotate(54deg);
}
.circle.percentage-16 .percentage-bar:before {
  transform: rotate(57.6deg);
}
.circle.percentage-17 .percentage-bar:before {
  transform: rotate(61.2deg);
}
.circle.percentage-18 .percentage-bar:before {
  transform: rotate(64.8deg);
}
.circle.percentage-19 .percentage-bar:before {
  transform: rotate(68.4deg);
}
.circle.percentage-20 .percentage-bar:before {
  transform: rotate(72deg);
}
.circle.percentage-21 .percentage-bar:before {
  transform: rotate(75.6deg);
}
.circle.percentage-22 .percentage-bar:before {
  transform: rotate(79.2deg);
}
.circle.percentage-23 .percentage-bar:before {
  transform: rotate(82.8deg);
}
.circle.percentage-24 .percentage-bar:before {
  transform: rotate(86.4deg);
}
.circle.percentage-25 .percentage-bar:before {
  transform: rotate(90deg);
}
.circle.percentage-26 .percentage-bar:before {
  transform: rotate(93.6deg);
}
.circle.percentage-27 .percentage-bar:before {
  transform: rotate(97.2deg);
}
.circle.percentage-28 .percentage-bar:before {
  transform: rotate(100.8deg);
}
.circle.percentage-29 .percentage-bar:before {
  transform: rotate(104.4deg);
}
.circle.percentage-30 .percentage-bar:before {
  transform: rotate(108deg);
}
.circle.percentage-31 .percentage-bar:before {
  transform: rotate(111.6deg);
}
.circle.percentage-32 .percentage-bar:before {
  transform: rotate(115.2deg);
}
.circle.percentage-33 .percentage-bar:before {
  transform: rotate(118.8deg);
}
.circle.percentage-34 .percentage-bar:before {
  transform: rotate(122.4deg);
}
.circle.percentage-35 .percentage-bar:before {
  transform: rotate(126deg);
}
.circle.percentage-36 .percentage-bar:before {
  transform: rotate(129.6deg);
}
.circle.percentage-37 .percentage-bar:before {
  transform: rotate(133.2deg);
}
.circle.percentage-38 .percentage-bar:before {
  transform: rotate(136.8deg);
}
.circle.percentage-39 .percentage-bar:before {
  transform: rotate(140.4deg);
}
.circle.percentage-40 .percentage-bar:before {
  transform: rotate(144deg);
}
.circle.percentage-41 .percentage-bar:before {
  transform: rotate(147.6deg);
}
.circle.percentage-42 .percentage-bar:before {
  transform: rotate(151.2deg);
}
.circle.percentage-43 .percentage-bar:before {
  transform: rotate(154.8deg);
}
.circle.percentage-44 .percentage-bar:before {
  transform: rotate(158.4deg);
}
.circle.percentage-45 .percentage-bar:before {
  transform: rotate(162deg);
}
.circle.percentage-46 .percentage-bar:before {
  transform: rotate(165.6deg);
}
.circle.percentage-47 .percentage-bar:before {
  transform: rotate(169.2deg);
}
.circle.percentage-48 .percentage-bar:before {
  transform: rotate(172.8deg);
}
.circle.percentage-49 .percentage-bar:before {
  transform: rotate(176.4deg);
}
.circle.percentage-50 .percentage-bar:before {
  transform: rotate(180deg);
}
.circle.percentage-51 .percentage-bar:before {
  transform: rotate(183.6deg);
}
.circle.percentage-52 .percentage-bar:before {
  transform: rotate(187.2deg);
}
.circle.percentage-53 .percentage-bar:before {
  transform: rotate(190.8deg);
}
.circle.percentage-54 .percentage-bar:before {
  transform: rotate(194.4deg);
}
.circle.percentage-55 .percentage-bar:before {
  transform: rotate(198deg);
}
.circle.percentage-56 .percentage-bar:before {
  transform: rotate(201.6deg);
}
.circle.percentage-57 .percentage-bar:before {
  transform: rotate(205.2deg);
}
.circle.percentage-58 .percentage-bar:before {
  transform: rotate(208.8deg);
}
.circle.percentage-59 .percentage-bar:before {
  transform: rotate(212.4deg);
}
.circle.percentage-60 .percentage-bar:before {
  transform: rotate(216deg);
}
.circle.percentage-61 .percentage-bar:before {
  transform: rotate(219.6deg);
}
.circle.percentage-62 .percentage-bar:before {
  transform: rotate(223.2deg);
}
.circle.percentage-63 .percentage-bar:before {
  transform: rotate(226.8deg);
}
.circle.percentage-64 .percentage-bar:before {
  transform: rotate(230.4deg);
}
.circle.percentage-65 .percentage-bar:before {
  transform: rotate(234deg);
}
.circle.percentage-66 .percentage-bar:before {
  transform: rotate(237.6deg);
}
.circle.percentage-67 .percentage-bar:before {
  transform: rotate(241.2deg);
}
.circle.percentage-68 .percentage-bar:before {
  transform: rotate(244.8deg);
}
.circle.percentage-69 .percentage-bar:before {
  transform: rotate(248.4deg);
}
.circle.percentage-70 .percentage-bar:before {
  transform: rotate(252deg);
}
.circle.percentage-71 .percentage-bar:before {
  transform: rotate(255.6deg);
}
.circle.percentage-72 .percentage-bar:before {
  transform: rotate(259.2deg);
}
.circle.percentage-73 .percentage-bar:before {
  transform: rotate(262.8deg);
}
.circle.percentage-74 .percentage-bar:before {
  transform: rotate(266.4deg);
}
.circle.percentage-75 .percentage-bar:before {
  transform: rotate(270deg);
}
.circle.percentage-76 .percentage-bar:before {
  transform: rotate(273.6deg);
}
.circle.percentage-77 .percentage-bar:before {
  transform: rotate(277.2deg);
}
.circle.percentage-78 .percentage-bar:before {
  transform: rotate(280.8deg);
}
.circle.percentage-79 .percentage-bar:before {
  transform: rotate(284.4deg);
}
.circle.percentage-80 .percentage-bar:before {
  transform: rotate(288deg);
}
.circle.percentage-81 .percentage-bar:before {
  transform: rotate(291.6deg);
}
.circle.percentage-82 .percentage-bar:before {
  transform: rotate(295.2deg);
}
.circle.percentage-83 .percentage-bar:before {
  transform: rotate(298.8deg);
}
.circle.percentage-84 .percentage-bar:before {
  transform: rotate(302.4deg);
}
.circle.percentage-85 .percentage-bar:before {
  transform: rotate(306deg);
}
.circle.percentage-86 .percentage-bar:before {
  transform: rotate(309.6deg);
}
.circle.percentage-87 .percentage-bar:before {
  transform: rotate(313.2deg);
}
.circle.percentage-88 .percentage-bar:before {
  transform: rotate(316.8deg);
}
.circle.percentage-89 .percentage-bar:before {
  transform: rotate(320.4deg);
}
.circle.percentage-90 .percentage-bar:before {
  transform: rotate(324deg);
}
.circle.percentage-91 .percentage-bar:before {
  transform: rotate(327.6deg);
}
.circle.percentage-92 .percentage-bar:before {
  transform: rotate(331.2deg);
}
.circle.percentage-93 .percentage-bar:before {
  transform: rotate(334.8deg);
}
.circle.percentage-94 .percentage-bar:before {
  transform: rotate(338.4deg);
}
.circle.percentage-95 .percentage-bar:before {
  transform: rotate(342deg);
}
.circle.percentage-96 .percentage-bar:before {
  transform: rotate(345.6deg);
}
.circle.percentage-97 .percentage-bar:before {
  transform: rotate(349.2deg);
}
.circle.percentage-98 .percentage-bar:before {
  transform: rotate(352.8deg);
}
.circle.percentage-99 .percentage-bar:before {
  transform: rotate(356.4deg);
}
.circle.percentage-100 .percentage-bar:before {
  transform: rotate(360deg);
}